*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Gothic;
    src: url(../font/SawarabiGothic-Regular.ttf)
}

#main {
    font-family: Gothic;
    width: 100%;
    /* overflow-x: hidden; */
}

li {
    list-style-type: none;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

.row {
    display: flex;
    flex-wrap: wrap;
}